
*{
}


.App{
  margin: 0 auto;
  width: 55%;
}


.appWrapper {
  
    display: grid;
    grid-template-areas:
    "h h  "
    "n c "
    "f f ";

    grid-template-rows: 50px 1200px 50px ;
    grid-template-columns:150px 300px;
  
}

.header {
grid-area: h ;
background-color: aqua;
}

.navBar {
grid-area: n;
background-color: orange;
}

.content {
grid-area: c ;
background-color: forestgreen;
}

.footer {
 grid-area: f; 
 background-color: black;
}
