
*{
}


.App{
  margin: 0 auto;
  width: 55%;
}


.appWrapper {
  
    display: grid;
    grid-template-areas:
    "h h  "
    "n c "
    "f f ";

    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-columns:1fr 2fr;
  
}

.header {
grid-area: h ;
background-color: rgb(255, 0, 0);
}

.navBar {
grid-area: n;
background-color: orange;
}

.content {
grid-area: c ;
background-color: forestgreen;
}

.footer {
 grid-area: f; 
 background-color: black;
}
